# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# JupyterLite
_site/
.lite_src/
.jupyterlite.doit.db

# Documentation
tests/charts/
todo.txt
docs/api/
docs/_build/
docs/PCA.graffle
docs/omlc.org/
docs/refractiveindex.info/

# GitHub Pages
.gh-pages/

