include LICENSE.txt
include CHANGELOG.rst
include README.rst

include pypolar/*.py
include tests/*.py

exclude .gitignore
exclude release.txt
exclude docs
exclude docs/*
exclude Makefile
exclude pypolar/gaerter-arduino-controller.ino
exclude test_all_notebooks.py
exclude .testignore
exclude requirements.txt